@model List<Product>

<div class="main-header-image-container">
            <img class="main-header-image" src="./images/128038-desert-ingredient-kuhnya-vypechka-hlebobulochnye_izdeliya-1920x1080.jpg" alt="Title">

            <div class="centered">
                Мрієте про найкращу випічку в вашому житті?
            </div>

            <!-- <button class="btn">
                Замовити
            </button> -->
        </div>

        <p class="title">
            <u>Смаколики, які можуть здивувати своєю начинкою</u>
        </p>

        <p class="text">
            Кожен, хто заходить у нашу пекарню знає, що зможе віднайти для себе саме те,
            що так хочеться: найсмачніші тарти, пончики та круасани, які назавжди залишаться у вашому серці.
            Наші пекарі використовують не лише класичні рецепти різних країн, а й додають цікаві інгрідієнти,
            що підкреслюють смаки та додають їм нових ароматів.
        </p>

        <p>
            @{
                foreach(var product in Model)
                {
                    <div class="category">
                        <img class="images" src="./images/@product.ImageName" alt="@product.Name" />
                        <p class="production-name">@product.Name</p>
                        <p class="prices">@product.Price грн</p>
                        <p class="centered">@Html.ActionLink("Замовити", "AddToCart", "Cart", 
                                    new {
                                        id = @product.ID,
                                        productName = @product.Name,
                                        imageName = @product.ImageName,
                                        price = @product.Price },
                                    new { @class = "links" })
                        </p>
                    </div>
                }
            }
        </p>

        <p class="title">
            <u>Доставка і отримання</u>
        </p>


        <div class="category-icons">
            <img style="margin-left: 260px" class="icons" src="./images/cart.png" />
            <p style="margin-left: 130px" class="under-icon-text"><u>ЗАМОВЛЯЙ</u></p>
            <p style="width: 234px; text-align: left; margin-left: 190px" class="text">Замовити ще не було так просто!
                Щоб замовити, залиште заявку на нашому сайті або зателефонуйте нам. </p>
        </div>
        <div class="category-icons">
            <img class="icons" src="./images/payment-method.png" />
            <p class="under-icon-text"><u>ПЛАТИ</u></p>
            <p style="width:206px;" class="text">Оплату можна здійснити на сайті або приїхати до нас у кафе і оплатити на касі.</p>
        </div>
        <div class="category-icons">
            <img class="icons" src="./images/buy-home.png" />
            <p class="under-icon-text"><u>ОТРИМУЙ</u></p>
            <p style="width: 240px; text-align: right; margin-right: 100px" class="text">Отримуй доставку від кур’єра або прямо у пекарні.
                При замовленні від 1500 грн доставка кур’єром буде безкоштовною.</p>
        </div>

        <p class="title">
            <u>Чому саме ми?</u>
        </p>

        <div class="category">
            <img class="images-why-we" src="./images/ingredients.jpg" />
            <p class="production-name">Якісні та свіжі  інгрідієнти </p>
        </div>
        <div class="category">
            <img class="images-why-we" src="./images/professional.jpg" />
            <p class="production-name">Професійні кондитери та 10 років кондитерської історії </p>
        </div>
        <div class="category">
            <img class="images-why-we" src="./images/view_from_window.jpg" />
            <p class="production-name" style="margin-bottom: 150px">Неповторний вид із вікна на Дніпро та річковий порт</p>
        </div>
