<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BreadNMadBakery</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/map.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/names.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/images.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tables.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/links.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/validations.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BreadNMadBakery.style.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Nova Round' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Playfair Display' rel='stylesheet'>
</head>
<body>
    <header>
        <p class="company-name">B<span>READ'N'MA</span>D</p>
        <p class="adress"><u>+380666619244</u><br><u>вул. Героїв Дніпра, 69</u></p>
        <h4>пекарня </h4>
        <div>
            <ul style="width: 100%">
                <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                <li>@Html.ActionLink("Контакти", "Index", "Contacts")</li>
                <li>@Html.ActionLink("Про нас", "Index", "About")</li>
                <li>@Html.ActionLink("Магазин", "Index", "Products")</li>
                <li>
                    <a href="@Url.Action("Index", "Cart")">
                        <div>
                            Кошик 
                            <svg fill="white" width="20px" height="20px" viewBox="0 0 6.4 6.4" id="Flat" xmlns="http://www.w3.org/2000/svg"><g opacity="0.2"><path d="M0.8 2h4.8V1.4a0.2 0.2 0 0 0 -0.2 -0.2H1a0.2 0.2 0 0 0 -0.2 0.2Z" /></g><g><path d="M5.4 1H1a0.4 0.4 0 0 0 -0.4 0.4v3.6a0.4 0.4 0 0 0 0.4 0.4h4.4a0.4 0.4 0 0 0 0.4 -0.4V1.4a0.4 0.4 0 0 0 -0.4 -0.4Zm0 0.4 0 0.4H1V1.4Zm0 3.6H1V2.2h4.4l0 2.8Z" /><path d="M4.2 2.6a0.2 0.2 0 0 0 -0.2 0.2 0.8 0.8 0 0 1 -1.6 0 0.2 0.2 0 0 0 -0.4 0 1.2 1.2 0 0 0 2.4 0 0.2 0.2 0 0 0 -0.2 -0.2Z" /></g></svg>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        
        <hr style="width: 100%; border: none; border-top: 1px solid #ffffff; margin: 50px 0px;">
        
        <p class="footer-company-name">
                    bread n<span>'ma</span>d
        </p>

        <p class="text" style="font-size: 12px; letter-spacing: 0.4rem; width:85px; margin-top: -15px">
                    пекарня
        </p>

        <p class="text" style="font-size: 14px; width: 228px; height: 229px; text-align: left">
            &emsp;Найважливіше в нашій роботі це дарувати радість, щастя та задоволення кожного дня.
            <br>
            &emsp;Використання найкращих продуктів, передових технологій та авторських рецептів,
            не тільки виконує ці завдання, а й створює любов у вашому серці.
        </p>

        <div class = "google-map" style = "margin-top: -300px; margin-left: 47%">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2594.
                    2269273821225!2d32.074784076442434!3d49.
                    44242787141731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d14b70045f75af%3A0x161dafe589132c37
                    !2z0YPQuy4g0JPQtdGA0L7QtdCyINCU0L3QtdC_0YDQsCwgNjksINCn0LXRgNC60LDRgdGB0YssINCn0LXRgNC60LDRgdGB0LrQsNGPINC
                    -0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsCwgMTgwMDA!5e0!3m2!1sru!2suk!4v1683236652746!5m2!1sru!2suk"
                            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade;">
                    </iframe>
        </div>

         
        <div class="container" style="margin-top: -250px; mmax-width: 60%"> 
          
                </div>
                    <div class="vertical-menu" style="width:280px; height:132px">
                    <a href="#" class="active">КОНТАКТИ</a>
                    <a href="tel:+440706698818" style="font-weight: bold; font-family: 'Playfair Display SC'; font-size: 16px">+440706698818</a>
                    <a href="tel:+380666619244" style="font-weight: bold; font-family: 'Playfair Display SC'; font-size: 16px">+380666619244</a>
                    <a href="mailto:alina.seikauskaite2@gmail.com" style="font-weight: bold; font-family: 'Playfair Display SC'; font-size: 16px">alina.seikauskaite2@gmail.com</a>
                    <br>
                    <br>
                    <a href="https://goo.gl/maps/eiVwS2XKxnWpcSuA7" class="active">ЛОКАЦІЯ</a>
                    <br>
                    <a href="https://goo.gl/maps/eiVwS2XKxnWpcSuA7" style="font-family: 'Playfair Display SC'; font-size: 16px; font-weight: normal">ВУЛИЦЯ ГЕРОЇВ ДНІПРА, 69</a>
                    <div class="google-map">
                    
                </div>
        </div>

        

         

                
    </footer>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
